<ol id='list'>
<% @tasks.each do |task| %>
  <li class='task'><%= render :partial => 'task', :locals => { :my_task => task } %></li>
<% end %>
</ol>
<% if @task && @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @task, :remote => true, :url => {:controller => :tasks, :action => :create}, :html => { :id => 'create_task_form' } do |f| %>
  <%= f.label "New task: " %>
  <%= f.text_field :title %>
  <div class="validation-error"></div>
  <%= f.submit "Create Task!" %>
<% end %>
